<div class="about-main">
  <%= image_tag('image.png') %> 
  <div class="about-main-top">
    <div class="about1">
      <%= link_to("新規登録","/users/signup") %>
    </div>
    <div class="about2">
      <%= link_to("ログイン","/login") %>
    </div>
    
    <div class="about-message">
    <h3>My&nbsp;ストーリーの作成背景</h3> 
    <p>SNS疲れを感じたら、日々の出来事を<br>自分だけの投稿・閲覧ができる<br>My&nbsp;ストーリー&nbsp;に投稿しよう<br>自分の日常を振り返ることで日々を見つめ直し、
    <br>より良い人生になる事を願い作成されたサイトです。
    <br>周りに言えない愚痴や想いを投稿するのも自由です。<br>記録としても使えます。一覧で分かりやすい。
    <br>自分を褒めまくる投稿も良し！！<br>たまには自分自信を褒めてみませんか？</p>
    </div>
  </div>
</div>



  

